<div id="modal" class="hide"> 
    <!-- Inicio container -->
    <div class="content">
      <!-- Inicio Cabeçalho -->
      <div class="header">
        <h1>Pontos de Coleta</h1>
        <a href="#">Fechar</a>
      </div>
      <!-- Fim Cabeçalho -->
      <!-- Inicio Fomulário de login -->
      <form action="search-results">
        <label for="search">cidade</label>
        <div class="search field">
          <input type="text" name="search" placeholder="Pesquise à cidade">
          <button>
            <img src="assets/search.svg" alt="Buscar">
          </button>
        </div>
      </form>
      <!-- Fim Fomulário ed login -->
    </div>
    <!-- Fim container -->
  </div>